.App {
  text-align: center;
  height: 16000px;
  /* background-color: lightgray; */
  z-index: 1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.real-background {
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: -1;
  background-color: lightgray;
}

.fixed-background-base {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  height: 650px;
  width: 1200px;
  top: 10px;
  border: none;
  background-color: black;
  z-index: -1;
}

.fixed-background-second {
  position: absolute;
  width: 50%;
  background-color: black;
  height: 100%;
  z-index: 0;
}

.fixed-back-base-halfway-line {
  width: 50%;
  height: 100%;
  border-right: dotted black 1px;
  position: absolute;
  z-index: 5;
  display: none;
  }

.first-background-top {
  position: absolute;
  background-color: lightgray;
  top: -3%;
  left: 50%;
  width: 50%;
  height: 29.16%;
  z-index: 4;
}

.first-background-bottom {
  position: absolute;
  bottom: -20%;
  background-color: lightgray;
  left: 50%;
  width: 50%;
  height: 46.16%;
  z-index: 4;
}

.first-background-left {
  position: absolute;
  background-color: lightgray;
  left: 50%;
  width: 5%;
  height: 100%;
  z-index: 4;
}

.first-background-right {
  position: absolute;
  right: 0;
  background-color: lightgray;
  width: 5%;
  height: 100%;
  z-index: 4;
}

.second-background-top {
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 7.69%;
  z-index: 4;
}

.second-background-bottom {
  position: absolute;
  background-color: lightgray;
  bottom: 0;
  width: 100%;
  height: 7.69%;
  z-index: 4;
}

.left-moving-square-top {
  position: absolute;
  background-color: lightgray;
  width: 20%;
  height: 100%;
  left:0;
  top: -92.5%;
  z-index: 4;
  border: none;
}

.left-moving-square-bottom {
  position: absolute;
  background-color: lightgray;
  width: 20%;
  height: 100%;
  left:0;
  top: 26.16%;
  z-index: 4;
  border: none;
}

.bottom-moving-square-left{
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 18.46%;
  left: -100%;
  bottom: 7.7%;
  z-index: 4;
  /* opacity: 0.7; */
  border: none;
}

.bottom-moving-square-right{
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 18.46%;
  left: 20%;
  bottom: 7.7%;
  z-index: 4;
  /* opacity: 0.7; */
  border: none;
}

.right-moving-square-top {
  position: absolute;
  background-color: lightgray;
  width: 20%;
  height: 100%;
  right:0;
  bottom: 26.16%;
  z-index: 4;
  border: none;
}

.right-moving-square-bottom {
  position: absolute;
  background-color: lightgray;
  width: 20%;
  height: 100%;
  right:0;
  bottom: -92.5%;
  z-index: 4;
  border: none;
}

.top-moving-square-left{
  position: absolute;
  background-color: lightgray;
  width: 60%;
  height: 18.46%;
  left: 20%;
  top: 7.7%;
  z-index: 4;
  /* opacity: 0.7; */
  border: none;
}

.top-moving-square-right{
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 18.46%;
  right: -100%;
  top: 7.7%;
  z-index: 4;
  /* opacity: 0.7; */
  border: none;
}

.moving-square {
  position: absolute;
  width: 20%;
  height: 18.46%;
  top: 7.7%;
  z-index: 1;
  background: transparent;
  border: solid 2px white;
  box-sizing: border-box;
}

.second-background-inner-box-top {
  position: absolute;
  background-color: lightgray;
  width: 60%;
  height: 9.23%;
  left: 20%;
  top: 26.16%;
  z-index: 4;
}

.second-background-inner-box-bottom {
  position: absolute;
  background-color: lightgray;
  width: 60%;
  height: 9.23%;
  left: 20%;
  bottom: 26.16%;
  z-index: 4;
}

.second-background-inner-box-left {
  position: absolute;
  background-color: lightgray;
  width: 10%;
  height: 40%;
  left: 20%;
  top: 26.16%;
  z-index: 4;
}

.second-background-inner-box-right {
  position: absolute;
  background-color: lightgray;
  width: 10%;
  height: 40%;
  right: 20%;
  top: 26.16%;
  z-index: 4;
}

.bio-title {
  position: absolute;
  /* border: solid white 2px; */
  left: 0;
  top: 7.7%;
  width: 20%;
  height: 18.46%;
  box-sizing: border-box;
  z-index: 0;
  padding-top: 7%;
  font-size: 30px;
  color: white;
}

.bio-name {
  position: absolute;
  /* border: solid white 2px; */
  left: 30%;
  top: 35.4%;
  width: 40%;
  height: 29.2%;
  box-sizing: border-box;
  z-index: 0;
  padding: 7% 0;
  font-size: 50px;
  color: white;
}

.bio-content {
  position: absolute;
  /* border: solid white 2px; */
  left: 110.5%;
  top: 25%;
  width: 79.4%;
  height: 47%;
  box-sizing: border-box;
  z-index: 0;
  padding: 4% 2%;
  font-size: 26px;
  color: white;
}

.bio-box {
  position: absolute;
  border: solid white 2px;
  left: 30%;
  top: 35.4%;
  width: 40%;
  height: 29.2%;
  box-sizing: border-box;
  z-index: 0;
  padding: 7% 0;
  font-size: 50px;
  background: transparent;
}

.second-background-box {
  position: absolute;
  /* border: solid white 2px; */
  left: 30%;
  top: 35.4%;
  width: 40%;
  height: 29.2%;
  box-sizing: border-box;
  z-index: 0;
  padding: 7% 0;
  font-size: 50px;
  background-color: black;
}

.skills-title {
  position: absolute;
  /* border: solid white 2px; */
  left: 0;
  bottom: 7.7%;
  width: 20%;
  height: 18.46%;
  box-sizing: border-box;
  z-index: 0;
  padding-top: 7%;
  font-size: 30px;
  color: white;
}

.skills-image {
  position: absolute;
  /* border: solid white 2px; */
  left: 30%;
  bottom: 10%;
  width: 40%;
  height: 29.2%;
  box-sizing: border-box;
  z-index: 0;
  padding: 7% 0;
  font-size: 50px;
  color: white;
}

.skills-content {
  position: absolute;
  /* border: solid white 2px; */
  left: 110.5%;
  top: 25.5%;
  width: 79.4%;
  height: 47%;
  box-sizing: border-box;
  z-index: -7;
  padding: 4% 2%;
  font-size: 25px;
  color: white;
  text-align: center;
}

.projects-title {
  position: absolute;
  /* border: solid black 2px; */
  right: 0;
  bottom: 7.7%;
  width: 20%;
  height: 18.46%;
  box-sizing: border-box;
  z-index: 0;
  padding-top: 7%;
  font-size: 30px;
  color: black;
}

.projects-box {
  position: absolute;
  width: 40%;
  height: 20%;
  z-index: 0;
  top: 41%;
  left: 31%;
  font-size: 50px;
}

.project-button-1{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  margin-right: 5px;
  background-color: black;
  color: white;
}

.project-button-2{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  margin-right: 5px;
}

.project-button-3{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  margin-right: 5px;
}

.project-button-4{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.connect-title {
  position: absolute;
  /* border: solid white 2px; */
  right: 0;
  top: 7.7%;
  width: 20%;
  height: 18.46%;
  box-sizing: border-box;
  z-index: 0;
  padding-top: 7%;
  font-size: 30px;
  color: white;
}

.light-bulb {
  position: absolute;
  left: 0;
  top: 30%;
  width: 20%;
  height: 18.46%;
  z-index: 0;
}

.light-bulb img {
  width: 100%;
  height: 100%;
}

.light-bulb-on {
  position: absolute;
  left: 0;
  top: 30%;
  width: 20%;
  height: 18.46%;
  z-index: 0;
}

.light-bulb-on img {
  width: 100%;
  height: 100%;
}

.light-bulb-on-light {
  position: absolute;
  left: -0.3%;
  top: 30%;
  width: 20%;
  height: 18.46%;
  z-index: 0;
}

.light-bulb-on-light img {
  width: 100%;
  height: 100%;
}

.coffee-1 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 10%;
  height: 8.46%;
  z-index: 0;
}

.coffee-1 img {
  width: 100%;
  height: 100%;
}

.coffee-2 {
  position: absolute;
  left: -10%;
  top: 47%;
  width: 8%;
  height: 6.46%;
  z-index: 0;
}

.coffee-2 img {
  width: 100%;
  height: 100%;
}

.coffee-3 {
  position: absolute;
  left: 0;
  top: 55%;
  width: 15%;
  height: 13.46%;
  z-index: 0;
}

.coffee-3 img {
  width: 100%;
  height: 100%;
}

.coffee-4 {
  position: absolute;
  left: 18%;
  top: 66%;
  width: 13%;
  height: 11.46%;
  z-index: 0;
}

.coffee-4 img {
  width: 100%;
  height: 100%;
}

.coffee-5 {
  position: absolute;
  left: 0;
  top: 55%;
  width: 20%;
  height: 18.46%;
  z-index: 0;
}

.coffee-5 img {
  width: 100%;
  height: 100%;
}

.coffee-6 {
  position: absolute;
  left: 0;
  top: 55%;
  width: 20%;
  height: 18.46%;
  z-index: 0;
}

.coffee-6 img {
  width: 100%;
  height: 100%;
}

.left-column{
  position: absolute;
  left: -20%;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 1;
}

.content-box {
  position: absolute;
  right: -90%;
  top: 26.2%;
  width: 79.4%;
  height: 47%;
  z-index: 1;
  border: solid white 2px;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
