.App {
  text-align: center;
  height: 16000px;
  /* background-color: lightgray; */
  /* z-index: 1; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.scroll-or-click{
  position: absolute;
  left: 105%;
  color: rgb(255, 215, 140);
  font-size: 150%;
  animation: swipe-animation-container 1s forwards;
  animation-delay: 3s;
  
}

.scroll-or-click span{
  display: block;
}

.scroll-or-click-first{
  /* position: absolute; */
  animation: swipe-animation 1s forwards;
}

.scroll-or-click-second{
  /* position: absolute; */
  animation: swipe-animation 2s forwards;
}

.scroll-or-click-third{
  /* position: absolute; */
  animation: swipe-animation 3s forwards;
}

.click-projects{
  position: absolute;
  left: 73%;
  font-size: 45%;
  top:17%;
  text-align: left;
  color: rgb(255, 145, 0);
}

.click-projects-triggered{
  position: absolute;
  left: 73%;
  font-size: 45%;
  top:17%;
  text-align: left;
  animation: swipe-animation-container 1s forwards;
  animation-delay: 3s;
  color: rgb(255, 145, 0);
}

.click-projects-span{
  visibility: hidden;
  display: block;
}

.click-projects-span-triggered{
  visibility: initial;
  display: block;
  animation: swipe-animation 2s forwards;
}

.mobile-bottom-column{
  display: none;
}

.content-box-mobile{
  display: none;
}

.content-box-mobile-border{
  display: none;
}

.projects-content-mobile{
  display: none;
}

.real-background {
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: -1;
  background-color: lightgray;
}

.fixed-background-base {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  height: 845px;
  width: 1560px;
  top: 10px;
  border: none;
  background-color: transparent;
  /* z-index: -1; */
}

.fixed-background-second {
  position: absolute;
  width: 50%;
  background-color: transparent;
  height: 100%;
  /* z-index: 0; */
}

.fixed-back-base-halfway-line {
  width: 50%;
  height: 100%;
  border-right: dotted black 1px;
  position: absolute;
  z-index: 5;
  display: none;
  }

.first-background-top {
  position: absolute;
  background-color: lightgray;
  top: -3%;
  left: 50%;
  width: 50%;
  height: 29.16%;
  z-index: 4;
}

.first-background-bottom {
  position: absolute;
  bottom: -30%;
  background-color: lightgray;
  left: 50%;
  width: 50%;
  height: 56.16%;
  z-index: 4;
}

.first-background-left {
  position: absolute;
  background-color: lightgray;
  left: 50%;
  width: 5%;
  height: 100%;
  z-index: 4;
}

.first-background-right {
  position: absolute;
  right: -35%;
  background-color: lightgray;
  width: 40%;
  height: 100%;
  z-index: 4;
}

.second-background-top {
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 9.69%;
  z-index: 4;
  top: -2%;
}

.second-background-bottom {
  position: absolute;
  background-color: lightgray;
  bottom: -10%;
  width: 100%;
  height: 17.69%;
  z-index: 4;
}

.left-moving-square-top {
  position: absolute;
  background-color: lightgray;
  width: 20%;
  height: 100%;
  left:0;
  top: -92.5%;
  z-index: 4;
  border: none;
}

.left-moving-square-bottom {
  position: absolute;
  background-color: lightgray;
  width: 20%;
  height: 100%;
  left:0;
  top: 26.16%;
  z-index: 4;
  border: none;
}

.bottom-moving-square-left{
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 18.48%;
  left: -100%;
  bottom: 7.75%;
  z-index: 4;
  /* opacity: 0.7; */
  border: none;
}

.bottom-moving-square-right{
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 18.46%;
  left: 20%;
  bottom: 7.7%;
  z-index: 4;
  /* opacity: 0.7; */
  border: none;
}

.right-moving-square-top {
  position: absolute;
  background-color: lightgray;
  width: 20%;
  height: 100%;
  right:0;
  bottom: 26.16%;
  z-index: 4;
  border: none;
}

.right-moving-square-bottom {
  position: absolute;
  background-color: lightgray;
  width: 20%;
  height: 100.1%;
  right:0;
  bottom: -92.5%;
  z-index: 4;
  border: none;
}

.top-moving-square-left{
  position: absolute;
  background-color: lightgray;
  width: 60%;
  height: 18.46%;
  left: 20%;
  top: 7.7%;
  z-index: 4;
  /* opacity: 0.7; */
  border: none;
}

.top-moving-square-right{
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 18.5%;
  right: -100%;
  top: 7.71%;
  z-index: 4;
  /* opacity: 0.7; */
  border: none;
}

.moving-square {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20%;
  height: 18.46%;
  top: 7.7%;
  z-index: 1;
  background: transparent;
  border: solid 2px white;
  box-sizing: border-box;
  overflow: hidden;
}

.second-background-inner-box-top {
  position: absolute;
  background-color: lightgray;
  width: 60%;
  height: 9.23%;
  left: 20%;
  top: 26.16%;
  z-index: 4;
}

.second-background-inner-box-bottom {
  position: absolute;
  background-color: lightgray;
  width: 60%;
  height: 9.23%;
  left: 20%;
  bottom: 26.16%;
  z-index: 4;
}

.second-background-inner-box-left {
  position: absolute;
  background-color: lightgray;
  width: 10%;
  height: 40%;
  left: 20%;
  top: 26.16%;
  z-index: 4;
}

.second-background-inner-box-right {
  position: absolute;
  background-color: lightgray;
  width: 10%;
  height: 40%;
  right: 20%;
  top: 26.16%;
  z-index: 4;
}

.second-background-box {
  position: absolute;
  /* border: solid white 2px; */
  left: 30%;
  top: 35.4%;
  width: 40%;
  height: 29.2%;
  box-sizing: border-box;
  z-index: 0;
  padding: 7% 0;
  font-size: 370%;
  background-color: black;
}

.light-bulb {
  position: absolute;
  left: 0;
  top: 30%;
  width: 20%;
  height: 18.46%;
  z-index: 0;
}

.light-bulb img {
  width: 100%;
  height: 100%;
}

.light-bulb-on {
  position: absolute;
  left: 0;
  top: 30%;
  width: 20%;
  height: 18.46%;
  z-index: 0;
}

.light-bulb-on img {
  width: 100%;
  height: 100%;
}

.light-bulb-on-light {
  position: absolute;
  left: -0.3%;
  top: 30%;
  width: 20%;
  height: 18.46%;
  z-index: 0;
}

.light-bulb-on-light img {
  width: 100%;
  height: 100%;
}

.coffee-1 {
  position: absolute;
  left: -40%;
  top: 50%;
  width: 40%;
  /* height: 8.46%; */
  z-index: 0;
}

.coffee-1 img {
  width: 100%;
  height: 100%;
}

.coffee-2 {
  position: absolute;
  left: -30%;
  top: 10%;
  width: 30%;
  /* height: 6.46%; */
  z-index: 0;
}

.coffee-2 img {
  width: 100%;
  height: 100%;
}

.coffee-3 {
  position: absolute;
  right: -90%;
  top: 24%;
  width: 90%;
  /* height: 13.46%; */
  z-index: 0;
}

.coffee-3 img {
  width: 100%;
  height: 100%;
}

.coffee-4 {
  position: absolute;
  left: -60%;
  top: 13%;
  width: 65%;
  /* height: 11.46%; */
  z-index: 0;
}

.coffee-4 img {
  width: 100%;
  height: 100%;
}

/* .coffee-5 {
  position: absolute;
  left: 0;
  top: 55%;
  width: 20%;
  height: 18.46%;
  z-index: 0;
}

.coffee-5 img {
  width: 100%;
  height: 100%;
} */

/* .coffee-6 {
  position: absolute;
  left: 0;
  top: 55%;
  width: 20%;
  height: 18.46%;
  z-index: 0;
}

.coffee-6 img {
  width: 100%;
  height: 100%;
} */

.left-column{
  position: absolute;
  left: -70%;
  top: 0;
  width: 70%;
  height: 100%;
  z-index: 1;
}

.content-box {
  position: absolute;
  right: -90%;
  top: 26.2%;
  width: 79.4%;
  height: 47%;
  z-index: 1;
  border: solid white 2px;
  pointer-events: none;
  background: transparent;
}

.pythonImgContainer{
  position: absolute;
  left:0;
  top:0;
  width: 290%;
  height:100%;
}

.pythonImg{
  width: 100%;
  height:100%;
}

.pythonText{
  position: absolute;
  left: 16.5%;
  top: 0;
  width: 18%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
}

.pythonText h2{
  padding-left: 16px;
}

.pythonText ul{
  padding-left: 22px;
}

.pythonText li{
  margin-bottom: 30px;
  font-size: 130%;
}

.pythonText li a{
  color: inherit;
}

.pythonText li a:hover{
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}


.cloud-1{
  position: absolute;
  bottom: 12%;
  z-index: -1;
  width: 50%;
  left: 30%;
}

.cloud-1 img {
  width: 100%;
  height: 100%;
}

.cloud-2{
  position: absolute;
  bottom: -5%;
  z-index: -1;
  width: 40%;
  left: 40%;
}

.cloud-2 img {
  width: 100%;
  height: 100%;
}

.cloud-3{
  position: absolute;
  bottom: 8%;
  z-index: -1;
  width: 40%;
  left: 70%;
}

.cloud-3 img {
  width: 100%;
  height: 100%;
}

.cloud-4{
  position: absolute;
  bottom: 6%;
  z-index: -1;
  width: 40%;
  left: 120%;
}

.cloud-4 img {
  width: 100%;
  height: 100%;
}

.code-line-1{
  position: absolute;
  bottom: 20%;
  z-index: -1;
  font-size: 100%;
  color: white;
  left: 40%;
  opacity: 0.8;
  font-family: 'Courier New', Courier, monospace;
}

.code-line-2{
  position: absolute;
  bottom: 10%;
  z-index: -1;
  font-size: 120%;
  color: white;
  left: 70%;
  opacity: 0.6;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.code-line-3{
  position: absolute;
  bottom: 15%;
  z-index: -1;
  font-size: 150%;
  color: white;
  left: 30%;
  /* opacity: 0.6; */
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.email-1{
  position: absolute;
  bottom: 26%;
  z-index: -1;
  width: 15%;
  left: 95%;
}

.email-1 img{
  width: 100%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.email-2{
  position: absolute;
  bottom: 36%;
  z-index: -1;
  width: 9.5%;
  left: 68%;
}

.email-2 img{
  width: 100%;
}

.email-3{
  position: absolute;
  bottom: 46%;
  z-index: -1;
  width: 9.5%;
  left: 100.5%;
}

.email-3 img{
  width: 100%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.email-4{
  position: absolute;
  bottom: 37%;
  z-index: -1;
  width: 13.5%;
  left: 64%;
}

.email-4 img{
  width: 100%;
}

.cheers{
  position: absolute;
  bottom: 56%;
  z-index: -1;
  width: 18.5%;
  left: 68%;
}

.cheers img{
  width: 100%;
}

.sleep-1{
  position: absolute;
  bottom: 46%;
  z-index: -1;
  width: 13.5%;
  left: 58%;
}

.sleep-1 img{
  width: 100%;
}

.sleep-2{
  position: absolute;
  bottom: 46%;
  z-index: -1;
  width: 13.5%;
  left: 38%;
}

.sleep-2 img{
  width: 100%;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 1560px){
  .fixed-background-base {
    height: 650px;
    width: 1200px;
  }

  .connect-content {
    
    padding: 3% 2%;
    
    
  }

  .bio-title {
    font-size: 200%;
  }

  .bio-name {
    font-size: 300%;
  }

  .bio-content {
    font-size: 160%;
  }

  .skills-title {
    font-size: 200%;
  }

  .skills-image {
    font-size: 300%;
  }

  .skills-content {
    font-size: 160%;
  }

  .projects-title {
    font-size: 200%;
  }

  .projects-box {
    font-size: 300%;
  }

  .connect-title {
    font-size: 200%;
  }

  .connect-box-image {
    font-size: 300%;
  }

  .connect-content {
    font-size: 160%;
  }
  .connect-content-mobile  a{
    color: inherit;
    text-decoration: none;
  }
  .connect-content-mobile  img{
    width: 35px;
  }

  .projects-content-text-first h2{
    margin-top: 5px;
    font-size: 120%;
    padding-left:5px;
  }

  .projects-content-text-tools h2{
    margin-top: 5px;
    font-size: 180%;
    padding-left:5px;
  }

}

@media (max-width: 1024px){ /*ipad pro*/
  .fixed-background-base {
    height: 520px;
    width: 960px;
  }
  .bio-title {
    font-size: 200%;
  }

  .bio-name {
    font-size: 250%;
  }

  .bio-content {
    font-size: 130%;
  }

  .skills-title {
    font-size: 200%;
  }

  .skills-image {
    font-size: 260%;
  }

  .skills-content {
    font-size: 130%;
  }

  .projects-title {
    font-size: 160%;
  }

  .projects-box {
    font-size: 260%;
  }

  .connect-title {
    font-size: 150%;
  }

  .connect-box-image {
    font-size: 260%;
  }

  .connect-content {
    font-size: 120%;
  }

  .connect-content img{
    width: 40px;
  }

  .first-background-bottom{
    bottom: -45%;
    height: 71.16%;
  }

  .projects-content-text ul{
    padding-left: 25px;
  }
  
  .projects-content-text h2{
    margin-top: 5px;
    font-size: 120%;
    padding-left:5px;
  }
  
  .projects-content-text-first h2{
    margin-top: 5px;
    font-size: 100%;
    padding-left:5px;
  }
  
  .projects-content-text-first li{
    font-size: 80%;
    margin-bottom: 6px;
  }
  
  .projects-content-text-future h2{
    margin-top: 5px;
    font-size: 120%;
    padding-left:5px;
  }
  
  .projects-content-text-future li{
    font-size: 80%;
    margin-bottom: 10px;
  }
  
  .projects-content-text-api h2{
    margin-top: 5px;
    font-size: 130%;
    padding-left:5px;
  }
  
  .projects-content-text-api li{
    font-size: 80%;
    margin-bottom: 10px;
  }
  
  .projects-content-text-tools h2{
    margin-top: 5px;
    font-size: 120%;
    padding-left:5px;
  }
  
  .projects-content-text-tools li{
    font-size: 80%;
    margin-bottom: 15px;
  }
  
  .projects-content-text-last h2{
    margin-top: 5px;
    font-size: 180%;
    padding-left:5px;
  }
  
  .projects-content-text-last li{
    font-size: 120%;
    margin-bottom: 15px;
  }
  
  .projects-content-text-last li a{
   color: inherit;

  }

  .pythonText{
    position: absolute;
    left: 16.5%;
    top: 0;
    width: 18%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
  }
  
  .pythonText h2{
    font-size: 120%;
    padding-left: 16px;
  }
  
  .pythonText ul{
    padding-left: 22px;
  }
  
  .pythonText li{
    margin-bottom: 30px;
    font-size: 100%;
  }
  
  .pythonText li a{
    color: inherit;
  }
}

@media (max-width: 768px){ /*ipad*/
  .fixed-background-base {
    height: 432px;
    width: 797px;
    left: 5px;
  }

  .bio-title {
    font-size: 160%;
  }

  .bio-name {
    font-size: 200%;
  }

  .bio-content {
    font-size: 105%;
  }

  .skills-title {
    font-size: 160%;
  }

  .skills-image {
    font-size: 200%;
  }

  .skills-content {
    font-size: 105%;
  }

  .projects-title {
    font-size: 130%;
  }

  .projects-box {
    font-size: 210%;
  }

  .connect-title {
    font-size: 130%;
  }

  .connect-box-image {
    font-size: 220%;
  }

  .connect-content {
    font-size: 105%;
  }

  .connect-content img{
    width: 30px;
  }

  .first-background-bottom{
    bottom: -45%;
    height: 71.16%;
  }

  .projects-content-text ul{
    padding-left: 25px;
  }
  
  .projects-content-text h2{
    margin-top: 5px;
    font-size: 120%;
    padding-left:5px;
  }
  
  .projects-content-text-first h2{
    margin-top: 3px;
    font-size: 80%;
    padding-left:5px;
  }
  
  .projects-content-text-first li{
    font-size: 60%;
    margin-bottom: 4px;
  }
  
  .projects-content-text-future h2{
    margin-top: 5px;
    font-size: 90%;
    padding-left:5px;
  }
  
  .projects-content-text-future li{
    font-size: 70%;
    margin-bottom: 10px;
  }
  
  .projects-content-text-api h2{
    margin-top: 5px;
    font-size: 120%;
    padding-left:5px;
  }
  
  .projects-content-text-api li{
    font-size: 70%;
    margin-bottom: 10px;
  }
  
  .projects-content-text-tools h2{
    margin-top: 5px;
    font-size: 110%;
    padding-left:5px;
  }
  
  .projects-content-text-tools li{
    font-size: 70%;
    margin-bottom: 15px;
  }
  
  .projects-content-text-last h2{
    margin-top: 5px;
    font-size: 150%;
    padding-left:5px;
  }
  
  .projects-content-text-last li{
    font-size: 110%;
    margin-bottom: 15px;
  }
  
  .projects-content-text-last li a{
   color: inherit;

  }

  .pythonText{
    position: absolute;
    left: 16.5%;
    top: 0;
    width: 18%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
  }
  
  .pythonText h2{
    font-size: 110%;
    padding-left: 16px;
  }
  
  .pythonText ul{
    padding-left: 22px;
  }
  
  .pythonText li{
    margin-bottom: 20px;
    font-size: 80%;
  }
  
  .pythonText li a{
    color: inherit;
  }

  .bottom-moving-square-left{
    height: 19%;
  }
}



@media (max-width: 414px){ /****************iphone 6/7/8 plus *********************************************************/
  .fixed-background-base {
    height: 449px;
    width: 828px;
    left: 0;
  }

  .content-box{
    display: none;
  }

  .bio-content{
    display: none;
  }

  .skills-content{
    display: none;
  }

  .projects-content{
    display: none;
  }

  .connect-content{
    display: none;
  }

  .content-box-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 92%;
    width: 414px;
    height: 240px;
    background-color: gray;
    z-index: 10;
  }

  .mobile-bottom-column{
    display: block;
    position: absolute;
    left: 0;
    top: 145.5%;
    width: 414px;
    height: 240px;
    background-color: gray;
    z-index: 13; 
  }

  .bio-content-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 92%;
    width: 414px;
    height: 240px;
    padding-top: 8px;
    /* background-color: gray; */
    color: white;
    z-index: 11;
    font-size: 130%;
  }

  .skills-content-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 92%;
    width: 414px;
    height: 240px;
    padding-top: 20px;
    font-size: 133%;
    /* background-color: gray; */
    color: white;
    z-index: 11;
  }

  .projects-content-mobile{
    display: block;
    position: absolute;
    left: 0.5%;
    top: 92.5%;
    width: 414px;
    height: 239px;
    /* padding-top: 20px; */
    /* background-color: gray; */
    color: black;
    z-index: 12;
  }

  .projects-content-mobile:hover .projects-slide-back{
    opacity: 0.4;
    
  }
  
  .projects-content-mobile:hover .projects-slide-back:hover{
    opacity: 0.5;
    
  }
  
  .projects-content-mobile:hover .projects-slide-forward{
    opacity: 0.4;
    
  }
  
  .projects-content-mobile:hover .projects-slide-forward:hover{
    opacity: 0.5;
    
  }
  
  .projects-content-mobile img{
    width: 35%;
    height: 98.5%;
    image-rendering: auto;
    display: inline-block;
    vertical-align: top;
  }

  .projects-content-mobile ul{
    padding-left: 15px;
    text-align: left;
    padding-right: 5px;
  }

  .projects-content-mobile h2{
    font-size: 130%;
  }

  .projects-content-mobile li{
    font-size: 100%;
  }

  

  .projects-content-text-container{
    font-size:70%;
  }

  .projects-content-text-container img{
    width: 100%;
    height:100%;
    left:0;
    top:0;  }

  .projects-slide-back {
    height: 54%;
    
  }
  
  
  .projects-slide-forward {
    height: 54%;
    
    }

  .pythonImgContainer{
    width: 99%;
    height: 98.5%
  }

  .pythonText{
    width: 50%;
    left: auto;
    right: 0;
    padding-left: 5px;
  }

  .pythonText li{
    margin-bottom: 10px;
    font-size: 130%;
  }

  

  .projects-slide-back {
    /* z-index: 12; */
  }

  .projects-slide-forward {
    /* z-index: 12; */
  }

  .connect-content-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 92%;
    width: 414px;
    height: 240px;
    padding-left: 20px;
    padding-top: 10px;
    /* background-color: gray; */
    text-align: left;
    color: white;
    z-index: 11;
    font-size: 130%;
  }

  .content-box-mobile-border{
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 92%;
    width: 414px;
    height: 240px;
    background: transparent;
    border: white solid 2px;
    z-index: 11;
  }

  .bio-title {
    font-size: 140%;
  }

  .bio-name {
    font-size: 190%;
  }

  .bio-content {
    font-size: 160%;
  }

  .skills-title {
    font-size: 130%;
  }

  .skills-image {
    font-size: 190%;
  }

  .skills-content {
    font-size: 170%;
  }

  .projects-title {
    font-size: 130%;
  }

  .projects-box {
    font-size: 210%;
    left:31%;
    top:39%;
  }

  .connect-title {
    font-size: 120%;
  }

  .connect-box-image {
    font-size: 180%;
  }

  .connect-content {
    font-size: 160%;
  }

  .connect-content  a{
    color: inherit;
    text-decoration: none;
  }

  

  .right-moving-square-bottom{
    width: 20.5%;padding-left: 15px;
    text-align: left;
    padding-right: 5px;
  }

  .bottom-moving-square-left{
    height: 18.55%;
  }

  .code-line-1{
    
    font-size: 70%;
    
  }
  
  .code-line-2{
    font-size: 60%;
  }
  
  .code-line-3{
    
    font-size: 90%;
    
  }

  .top-moving-square-right{
    height: 18.6%;
    top: 7.6%;
  }

  .top-moving-square-left{
    height: 18.6%;
    top: 7.6%;
  }

}

@media (max-width: 411px){ /*Pixel 2 and Pixel 2 XL*/
  .fixed-background-base {
    height: 446px;
    width: 823px;
  }

  .content-box-mobile{
    width: 411px;
  }

  .mobile-bottom-column{
    width: 411px;
    top: 145.8%;
  }

  .bio-content-mobile{
    width: 411px;
  }

  .skills-content-mobile{
    width: 411px;
  }

  .projects-content-mobile{
    width: 411px;
  }

  .connect-content-mobile{
    width: 411px;
  }

  .content-box-mobile-border{
    width: 411px;
  }

  .bottom-moving-square-left{
    height:19%;
  }
}

@media (max-width: 375px){ /*iphone 6/7/8 */
  .fixed-background-base {
    height: 406px;
    width: 749px;
  }

  .content-box{
    display: none;
  }

  .bio-content{
    display: none;
  }

  .skills-content{
    display: none;
  }

  .projects-content{
    display: none;
  }

  .connect-content{
    display: none;
  }

  .content-box-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 92%;
    width: 375px;
    height: 220px;
    background-color: gray;
    z-index: 10;
  }

  .mobile-bottom-column{
    display: block;
    position: absolute;
    left: 0;
    top: 146.2%;
    width: 375px;
    height: 220px;
    background-color: gray;
    z-index: 13; 
  }

  .bio-content-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 92%;
    width: 375px;
    height: 220px;
    padding-top: 8px;
    /* background-color: gray; */
    color: white;
    z-index: 11;
    font-size: 120%;
  }

  .skills-content-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 92%;
    width: 375px;
    height: 220px;
    padding-top: 20px;
    font-size: 120%;
    /* background-color: gray; */
    color: white;
    z-index: 11;
  }

  .projects-content-mobile{
    display: block;
    position: absolute;
    left: 0.5%;
    top: 92.5%;
    width: 375px;
    height: 220px;
    /* padding-top: 20px; */
    /* background-color: gray; */
    color: black;
    z-index: 12;
  }

  .projects-content-mobile:hover .projects-slide-back{
    opacity: 0.4;
    
  }
  
  .projects-content-mobile:hover .projects-slide-back:hover{
    opacity: 0.5;
    
  }
  
  .projects-content-mobile:hover .projects-slide-forward{
    opacity: 0.4;
    
  }
  
  .projects-content-mobile:hover .projects-slide-forward:hover{
    opacity: 0.5;
    
  }
  
  .projects-content-mobile img{
    width: 35%;
    height: 98.5%;
    image-rendering: auto;
    display: inline-block;
    vertical-align: top;
  }

  .projects-content-mobile ul{
    padding-left: 15px;
    text-align: left;
    padding-right: 5px;
  }

  .projects-content-text-container{
    font-size:70%;
  }

  .projects-content-text-container img{
    width: 100%;
    height:100%;
    left:0;
    top:0;  }

  .projects-slide-back {
    height: 54%;
    
  }
  
  
  .projects-slide-forward {
    height: 54%;
    
    }

  .pythonImgContainer{
    width: 99%;
    height: 98.5%
  }

  .pythonText{
    width: 50%;
    left: auto;
    right: 0;
    padding-left: 5px;
  }

  .pythonText li{
    margin-bottom: 10px;
    font-size: 130%;
  }

  

  .projects-slide-back {
    /* z-index: 12; */
  }

  .projects-slide-forward {
    /* z-index: 12; */
  }

  .connect-content-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 92%;
    width: 375px;
    height: 220px;
    padding-left: 20px;
    padding-top: 10px;
    /* background-color: gray; */
    text-align: left;
    color: white;
    z-index: 11;
    font-size: 110%;
  }

  .content-box-mobile-border{
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 92%;
    width: 375px;
    height: 220px;
    background: transparent;
    border: white solid 2px;
    z-index: 11;
  }

  .bio-title {
    font-size: 130%;
  }

  .bio-name {
    font-size: 170%;
  }

  .bio-content {
    font-size: 160%;
  }

  .skills-title {
    font-size: 130%;
  }

  .skills-image {
    font-size: 170%;
  }

  .skills-content {
    font-size: 160%;
  }

  .projects-title {
    font-size: 120%;
  }

  .projects-box {
    font-size: 190%;
    left:31%;
    top:39%;
  }

  .connect-title {
    font-size: 120%;
  }

  .connect-box-image {
    font-size: 180%;
  }

  .connect-content {
    font-size: 160%;
  }

  .connect-content  a{
    color: inherit;
    text-decoration: none;
  }

  

  .right-moving-square-bottom{
    width: 20.5%;
  }

  .bottom-moving-square-left{
    height: 18.55%;
  }

  .code-line-1{
    
    font-size: 70%;
    
  }
  
  .code-line-2{
    font-size: 60%;
  }
  
  .code-line-3{
    
    font-size: 90%;
    
  }

  .top-moving-square-right{
    height: 18.6%;
    top: 7.6%;
  }

  .top-moving-square-left{
    height: 18.6%;
    top: 7.6%;
  }

}

@media (max-width: 360px){ /*Galaxy S5 */
  .fixed-background-base {
    height: 390px;
    width: 719px;
  }

  .content-box-mobile{
    
    width: 360px;
    height: 220px;
    
  }

  .mobile-bottom-column{
    
    width: 360px;
    height: 220px;
    top: 148.5%;
    
  }

  .bio-content-mobile{
    
    width: 360px;
    height: 220px;
    
  }

  .skills-content-mobile{
    
    width: 360px;
    height: 220px;
    
  }

  .projects-content-mobile{
    
    width: 360px;
    height: 220px;
    
  }

  .connect-content-mobile{
    
    width: 360px;
    height: 220px;
    
  }

  .content-box-mobile-border{
    
    width: 360px;
    height: 220px;
    
  }

  .projects-content-text-container h2{
    padding-right: 5px;
  }

}

@media (max-width: 320px){/*iphone 5*/
  
  .fixed-background-base {
    height: 348px;
    width: 642px;
  }

  .content-box{
    display: none;
  }

  .bio-content{
    display: none;
  }

  .skills-content{
    display: none;
  }

  .projects-content{
    display: none;
  }

  .connect-content{
    display: none;
  }

  .content-box-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 320px;
    height: 210px;
    background-color: gray;
    z-index: 10;
  }

  .mobile-bottom-column{
    display: block;
    position: absolute;
    left: 0;
    top: 160.5%;
    width: 320px;
    height: 210px;
    background-color: gray;
    z-index: 12; 
  }

  .bio-content-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 320px;
    height: 210px;
    padding-top: 20px;
    /* background-color: gray; */
    color: white;
    z-index: 11;
  }

  .skills-content-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 318px;
    height: 210px;
    padding-top: 15px;
    padding-left: 5px;
    /* padding-right: 19px; */
    /* background-color: gray; */
    color: white;
    z-index: 11;
    font-size: 105%
  }

  

  .projects-content-mobile{
    display: block;
    position: absolute;
    left: 0.5%;
    top: 100.5%;
    width: 320px;
    height: 210px;
    /* padding-top: 20px; */
    /* background-color: gray; */
    color: black;
    z-index: 11;
  }

  .projects-content-mobile:hover .projects-slide-back{
    opacity: 0.4;
    
  }
  
  .projects-content-mobile:hover .projects-slide-back:hover{
    opacity: 0.5;
    
  }
  
  .projects-content-mobile:hover .projects-slide-forward{
    opacity: 0.4;
    
  }
  
  .projects-content-mobile:hover .projects-slide-forward:hover{
    opacity: 0.5;
    
  }
  
  .projects-content-mobile img{
    width: 35%;
    height: 98%;
    image-rendering: auto;
    display: inline-block;
    vertical-align: top;
  }

  .projects-content-mobile h2{
    margin-bottom: 5px;
    font-size: 110%
  }

  .projects-content-mobile ul{
    padding-left: 15px;
    text-align: left;
    padding-right: 5px;
    margin-top: 6px;
  }

  .projects-content-mobile li{
    margin-bottom: 5px;
    font-size: 90%;
  }


  .projects-content-text-container{
    font-size:70%;
  }

  .projects-content-text-container img{
    width: 100%;
    height:100%;
    left:0;
    top:0;  }

    .projects-slide-back {
      height: 57%;
      
    }
    
    
    .projects-slide-forward {
      height: 57%;
      
      }

  .pythonImgContainer{
    width: 100%;
  }

  .pythonText{
    width: 50%;
    left: auto;
    right: 0;
    padding-left: 5px;
  }

  .pythonText li{
    margin-bottom: 10px;
    font-size: 130%;
  }

  
  .connect-content-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 320px;
    height: 210px;
    padding-left: 20px;
    padding-top: 5px;
    /* background-color: gray; */
    text-align: left;
    color: white;
    z-index: 10;
  }

  .content-box-mobile-border{
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 100%;
    width: 320px;
    height: 210px;
    background: transparent;
    border: white solid 2px;
    z-index: 11;
  }

  .bio-title {
    font-size: 130%;
  }

  .bio-name {
    font-size: 170%;
  }

  .bio-content {
    font-size: 160%;
  }

  .skills-title {
    font-size: 130%;
  }

  .skills-image {
    font-size: 170%;
  }

  .skills-content {
    font-size: 160%;
  }

  .projects-title {
    font-size: 100%;
  }

  .projects-box {
    top: 40%;
    font-size: 150%;
  }

  .projects-content-text-tools li{
    margin-bottom: 5px;
  }

  .projects-content-text-first{
    font-size: 98%;
  }

  .pythonImgContainer{
    height: 98%;
    width: 99%;
  }

  .connect-title {
    font-size: 100%;
  }

  .connect-box-image {
    font-size: 180%;
  }

  .connect-content {
    font-size: 160%;
  }

  .right-moving-square-bottom{
    width: 20.5%;
  }

  .bottom-moving-square-left{
    height: 18.55%;
  }

  .code-line-1{
    
    font-size: 70%;
    
  }
  
  .code-line-2{
    font-size: 60%;
  }
  
  .code-line-3{
    
    font-size: 90%;
    
  }

}


@keyframes swipe-animation {
  from {opacity: 0; padding-left: 70%;}
  to {opacity: 1; padding-left: 0%;}
}

@keyframes swipe-animation-container {
  from {opacity: 1;}
  to {opacity: 0;}
}