.bio-title {
    position: absolute;
    /* border: solid white 2px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; */
    font-size: 230%;
    color: white;
  }
  
  .bio-name {
    position: absolute;
    /* border: solid white 2px; */
    /* left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 0;
    padding: 20% 0; */
    font-size: 300%;
    color: white;
  }
  
  .bio-content {
    position: absolute;
    /* border: solid white 2px; */
    /* left: 110.5%;
    top: 25%;
    width: 79.4%;
    height: 47%;
    box-sizing: border-box;
    z-index: -3;
    padding: 4% 2%; */
    font-size: 150%;
    color: white;
  }
  
  .bio-content-mobile{
    display: none;
  }
  
  .bio-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid white 2px;
    left: 30%;
    top: 35.4%;
    width: 40%;
    height: 29.2%;
    box-sizing: border-box;
    /* z-index: 1;
    padding: 7% 0; */
    font-size: 100%;
    background: transparent;
    overflow: hidden;
  }

  .bio-box-shadow {
    position: absolute;
    left: 39%;
    top: 26.4%;
    width: 40%;
    height: 29.2%;
    opacity: 0.8;
    box-sizing: border-box;
    background: black;
    filter: blur(12px);
    -webkit-filter: blur(12px);
    overflow: hidden;
  }

  .bio-button{
    position: absolute;
    height: 100%;
    width: 100%;
  }

@media (max-width: 1024px){ /*ipad pro*/
  .bio-title {
    font-size: 180%;
  }

  .bio-name {
    font-size: 250%;
  }

  .bio-content {
    font-size: 130%;
  }
}

@media (max-width: 768px){ /*ipad*/
  
  .bio-title {
    font-size: 160%;
  }

  .bio-name {
    font-size: 200%;
  }

  .bio-content {
    font-size: 105%;
  }
}

@media (max-width: 414px){ /****************iphone 6/7/8 plus *********************************************************/
  .bio-box{
    top: 33%;
  }
  .content-box{
    left: 0;
    top: 90.5%;
    width: 99%;
    height: 55%;
  }

  .content-box-shadow {
    left: 0;
    top: 95%;
    width: 99%;
    height: 55%;
  }
  
  .bio-title {
    font-size: 140%;
  }

  .bio-name {
    font-size: 190%;
  }

  .bio-content {
    font-size: 130%;
  }
}

@media (max-width: 375px){ /****************iphone 6/7/8 *********************************************************/
 
  
  .bio-title {
    font-size: 140%;
  }

  .bio-name {
    font-size: 190%;
  }

  .bio-content {
    font-size: 110%;
  }
}

@media (max-width: 320px){/*iphone 5*/
  .content-box{
    width: 98.5%;
  }

  .bio-title {
    font-size: 130%;
  }

  .bio-name {
    font-size: 180%;
  }

  .bio-content {
    font-size: 100%;
  }
  
  .bio-box {
    width: 43%;
  }
}