.connect-title {
    position: absolute;
    /* border: solid white 2px;
    left: 1%;
    top: -60%;
    width: 20%;
    height: 18.46%;
    box-sizing: border-box;
    z-index: 0;
    padding-top: 7%; */
    font-size: 200%;
    color: white;
  }
  
  .connect-content {
    position: absolute;
    /* display: flex;   */
    /* align-items: center;
    justify-content: center; */
    /* border: solid white 2px; */
    /* left: 110.5%;
    top: 25%; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* z-index: -3; */
    padding: 0;
    font-size: 150%;
    color: white;
    text-align: left;
    
  }

  .connect-content-selection{
    display: flex;
    justify-content: left;
    align-items: center;
    /* position: absolute; */
    /* display: block; */
    height: 25%;
    width: 100%;
    transition: background-color 0.3s;
  }

  .connect-content-selection:hover{
    background-color: rgba(0, 0, 0, 0.366);
  }
  
  .connect-content  a{
    color: inherit;
    text-decoration: none;
  }

  .connect-box-image {
    /* position: absolute; */
    /* left: 30.4%;
    top: 29.3%; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 0;
    /* padding: 7% 0; */
    font-size: 330%;
    background: transparent;
  }
  
  .connect-box-image img{
    width: 100%;
    height: 100%;
  }
  
  .connect-box-image-span{
    position: absolute;
    right: 5px;
    bottom: 10%;
    height: 60%;
    width: 40%;
    font-size: 40%;
    color: white;
  }
  
  .connect-icons {
    width: 50px;
    vertical-align: middle;
  }

  .connect-content-mobile{
    display: none;
  }

  .connect-button{
    position: absolute;
    height: 100%;
    width: 100%;
}

@media (max-width: 1024px){ /*ipad pro*/

  .connect-title {
    font-size: 150%;
  }

  .connect-box-image {
    font-size: 260%;
  }

  .connect-content {
    font-size: 120%;
  }

  .connect-content img{
    width: 40px;
  }
}

@media (max-width: 768px){ /*ipad*/
  .connect-title {
    font-size: 130%;
  }

  .connect-box-image {
    font-size: 220%;
  }

  .connect-content {
    font-size: 105%;
  }

  .connect-content img{
    width: 30px;
  }
}

@media (max-width: 414px){ /****************iphone 6/7/8 plus *********************************************************/
  .connect-title {
    font-size: 130%;
  }

  .connect-box-image {
    font-size: 230%;
  }

  .connect-content {
    font-size: 150%;
  }

  .connect-content  a{
    color: inherit;
    text-decoration: none;
  }
  .connect-content img{
    width: 30px;
  }
}

@media (max-width: 375px){ /****************iphone 6/7/8 *********************************************************/
 
  .connect-title {
    font-size: 125%;
  }

  .connect-box-image {
    font-size: 200%;
  }

  .connect-content {
    font-size: 140%;
  }

  .connect-content  a{
    color: inherit;
    text-decoration: none;
  }
  
}

@media (max-width: 360px){ /*Galaxy S5 */
  .connect-title {
    font-size: 120%;
  }

  .connect-box-image {
    font-size: 210%;
  }

  .connect-content {
    font-size: 130%;
  }

  .connect-content  a{
    color: inherit;
    text-decoration: none;
  }

}

@media (max-width: 320px){/*iphone 5*/
  .connect-title {
    font-size: 105%;
  }

  .connect-box-image {
    font-size: 180%;
  }

  .connect-content {
    font-size: 110%;
  }

  .connect-content  a{
    color: inherit;
    text-decoration: none;
  }
  
}