.projects-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* top: 20%; */
    /* padding: 15% 0; */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 180%;
  }

  .projects-title {
    position: absolute;
    /* border: solid black 2px; */
    /* right: -30%;
    bottom: 52%;
    width: 20%;
    height: 18.46%;
    box-sizing: border-box; */
    /* z-index: 0; */
    /* padding-top: 7%; */
    font-size: 200%;
    color: black;
  }
  
  .project-button-1{
    display: flex;
    justify-content: left;
    align-items: center;
    /* padding-top: 10px; */
    /* padding-left: 10px;
    padding-right: 10px;
    width: 100%; */
    height: 25%;
    /* text-align: left;
    line-height: 150%;
    vertical-align: middle; */
    /* display: inline-block; */
    /* margin-right: 5px; */
    transition: background-color 0.3s, color 0.3s;
    background-color: black;
    color: white;
    cursor: default;
  }

  .project-button-2:hover{
    background-color: rgb(210, 210, 210);
  }
  
  .project-button-2{
    display: flex;
    justify-content: left;
    align-items: center;
    /* padding-top: 10px; */
    /* padding-left: 10px;
    padding-right: 10px;
    width: 100%; */
    height: 25%;
    /* text-align: left; */
    /* display: inline-block; */
    /* margin-right: 5px; */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .project-button-3{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-right: 5px;
  }
  
  .project-button-4{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
  }

  .projects-content{
    display: block;
    position: absolute;
    /* right: -89.7%;
    top: 26.5%; */
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: transparent;
    text-align: left;
    bottom: 0;
  }
  
  .projects-content:hover .projects-slide-back{
    opacity: 0.4;
    
  }
  
  .projects-content:hover .projects-slide-back:hover{
    opacity: 0.8;
    
  }
  
  .projects-content:hover .projects-slide-forward{
    opacity: 0.4;
    
  }
  
  .projects-content:hover .projects-slide-forward:hover{
    opacity: 0.8;
    
  }
  
  .projects-content img{
    width: 100%;
    height: 100%;
    image-rendering: auto;
    /* display: inline-block; */
    /* vertical-align: top; */
    z-index: 0;
    bottom:0;
  }
  
  .projects-content-text-container{
    display: inline-block;
    width: 65%;
    font-family: 'Montserrat', sans-serif;
  }
  
  .projects-content-text{
    display: inline-block;
    width: 100%;
  }
  
  
  .projects-content-text ul{
    padding-left: 25px;
  }
  
  .projects-content-text h2{
    margin-top: 5px;
    font-size: 120%;
    padding-left:5px;
  }
  
  .projects-content-text-first h2{
    margin-top: 5px;
    font-size: 120%;
    padding-left:5px;
  }
  
  .projects-content-text-first li{
    font-size: 100%;
    margin-bottom: 10px;
  }
  
  .projects-content-text-future h2{
    margin-top: 5px;
    font-size: 140%;
    padding-left:5px;
  }
  
  .projects-content-text-future li{
    font-size: 100%;
    margin-bottom: 10px;
  }
  
  .projects-content-text-api h2{
    margin-top: 5px;
    font-size: 200%;
    padding-left:5px;
  }
  
  .projects-content-text-api li{
    font-size: 100%;
    margin-bottom: 10px;
  }
  
  .projects-content-text-tools h2{
    margin-top: 5px;
    font-size: 200%;
    padding-left:5px;
  }
  
  .projects-content-text-tools li{
    font-size: 100%;
    margin-bottom: 15px;
  }
  
  .projects-content-text-last h2{
    margin-top: 5px;
    font-size: 180%;
    padding-left:5px;
  }
  
  .projects-content-text-last li{
    font-size: 120%;
    margin-bottom: 15px;
  }
  
  .projects-content-text-last li a{
   color: inherit;
  }
  
  .projects-content-text-last li:hover{
    font-weight: 600;
  }

  .react-slideshow-container{
    bottom:0;
  }

  .each-slide {
    width: 200%;
    height: 100%;
    /* position: relative; */
    /* margin: auto; */
  }
  
  .projects-slide-back {
    /* height: 100%; */
    display: block;
    position: absolute;
    left: 0;
    top:30%;
    z-index: 10;
    font-size: 350%;
    background-color: transparent;
    opacity: 0.4;
    color: white;
    /* padding-top: 27%; */
    cursor: pointer;
  }
  
  
  .projects-slide-forward {
    /* height: 15%; */
    display: block;
    position: absolute;
    right: 0;
    top:30%;
    z-index: 10;
    font-size: 350%;
    background-color: transparent;
    opacity: 0.4;
    color: white;
    /* padding-top: 27%; */
    cursor: pointer;
  }

  .projects-button{
    position: absolute;
    height: 100%;
    width: 100%;
}

  .expand-container{
    position: absolute;
    /* display: flex; */
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  .expand-content-button {
    position: absolute;
    display: flex;
    align-items: center;
    /* padding-right: 40%; */
    width: 100%;
    height: 20%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    overflow: hidden;
    color: white;
    font-size: 90%;
    cursor: pointer;
  }

  .expand-content-button-open {
    position: absolute;
    display: flex;
    align-items: center;
    /* padding-right: 40%; */
    width: 100%;
    height: 20%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    overflow: hidden;
    color: white;
    font-size: 90%;
    cursor: pointer;
  }

  .expand-content-button h2{
    padding-right: 10%;
    padding-left: 2%;
  }

  /* .expand-content-button-open h2{
    padding-right: 10%;
    padding-left: 2%;
  }

  .expand-content-button:after {
    content: '\002B';
    font-size: 200%;
    float: right;
  }
  .expand-content-button-open:after {
    content: '\2212';
    font-size: 200%;
    float: right;
  } */

  .expanded-content-text{
    position: absolute;
    display: flex;
    /* align-items: center; */
    /* align-content: space-around; */
    justify-content: flex-start;
    top:20%;
    width: 100%;
    height: 80%;
    background-color: rgba(187, 187, 187, 0.8);
    z-index: 2;
    overflow: hidden;
    color: black;
    transition: opacity 1s;
  }

  .expanded{
    opacity: 1;
  }

  .closed {
    opacity: 0;
  }

  .expanded-content-text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
    font-size: 120%;
    padding-left: 30px;
  }

  .expand-plus{
    position: absolute;
    right: 10px;
    font-size: 200%;
  }

  

  

  